---
---

@import "{{ site.theme }}";
@import "light-dark-themes.scss";

.highlight .c1 {
  color: var(--highlight-c1-color);
  font-weight: bold;
}

.highlight .o, .highlight .ow {
  color: var(--highlight-o-ow-color);
}

.highlight .k {
  color: var(--highlight-k-color);
  font-weight: bold;
}

.highlight .kd {
  color: var(--highlight-kd-color);
}

.highlight .kt {
  color: var(--highlight-kt-color);
}

.highlight .nt {
  color: var(--highlight-nt-color);
}

.highlight .s1 {
  color: var(--highlight-s1-color);
}

.highlight .si {
  color: var(--highlight-si-se-color);
}

.highlight .se {
  color: var(--highlight-si-se-color);
}

.highlight .ss {
  color: var(--highlight-ss-color);
}

.highlight .ni {
  color: var(--highlight-ni-color);
}

.highlight .mf {
  color: var(--highlight-mf-color);
}

.highlight .no {
  color: var(--highlight-no-color);
}

.highlight .nt {
  color: var(--highlight-nt-color);
}

.highlight .cp {
  color: var(--highlight-cp-color);
}

.highlight .nc {
  color: var(--highlight-nc-color);
}

.rss-icon {
  fill: var(--main-text-color);
}

a:hover .rss-icon {
  fill: var(--navbar-link-hover-color);
}

pre {
  background: var(--code-bg-color);
  code {
    color: var(--code-text-color);
    text-shadow: 0px 1px 0px var(--code-shadow-color);
  }
}

code {
  color: var(--code-text-color);
}

th {
  color: var(--table-header-color);
}

div.dtcc-dropdown button.dtcc-button,
table.dataTable span.dtcc span.dtcc-button-icon svg {
  color: var(--main-text-color);
}

div.dtcc-dropdown {
  background: var(--navbar-bg-color);
}

section {
  max-width: 1050px;
}

section #title p {
  color: var(--section-title-text-color);
}

a {
  color: var(--link-color);
  &:hover {
    color: var(--link-hover-color);
  }
}

.wrapper {
  max-width: 1050px;
}

.tableright {
  float: right;
  width: auto;
  /* align: right; */
}

body {
  color: var(--main-text-color);
  background: var(--main-bg-color);
}

h1 {
  color: var(--header-text-color);
}

/* .ps-root .ps-algorithm { */
/*   border-top: 3px solid var(--main-text-color); */
/*   border-bottom: 2px solid var(--main-text-color); */
/* } */
/* .ps-root .ps-algorithm.with-caption>.ps-line:first-child { */
/*   border-bottom: 2px solid var(--main-text-color); */
/* } */

h2, h3, h4, h5, h6 {
  color: var(--header-2-color);
}

ul {
  list-style-image: var(--list-item-img);
}

// Make line numbers more gray by making them transparent
.gutter {
  opacity: 0.55;
}

// Remove boxes around line number and code in a code block
.rouge-table,
.rouge-table td pre {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

// Push links down by navbar height when linked to
h1, h2, h3, h4, h5, h6,
.codecaption a[id],
.tableright a[id],
img +em a[id],
[id^="mjx-eqn"] {
  scroll-margin-top: 4rem;
}

// Create Hoverlinks on sections
.header-link {
  margin-left: 0.5em;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  font-size: 0.75em;
  transition: opacity 0.2s ease-in-out;
}

// Style the copy button on code blocks (only shows upon hover)
.code-container {
  position: relative;
}

.code-container .copy-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  background-color: var(--link-color);
  color: var(--code-bg-color);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.code-container:hover .copy-button {
  opacity: 1;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

// Override Jekyll Theme removing the navbar when the screen is less than 480px
@media screen and (max-width: 480px) {
  body nav {
    display: block !important;
  }
  body #header {
    margin-top: 0px;
  }
}

// Get configurable screen width from yaml config
$screen-width: {{ site.screen-width }};

// Use a toggle menu when the screen gets below a configurable width
@media only screen and (max-width: #{$screen-width}) {
  #togglemenu {
    background: var(--navbar-bg-gif) var(--navbar-bg-color);
    font-size: 20px;
    text-align: right;
    width: 100%;
    color: var(--main-text-color);
    line-height: 50px;
  }
  #togglemenu > span > span {
    background: var(--main-text-color);
  }
  #header nav {
    background: var(--navbar-bg-gif) var(--navbar-bg-color);
  }

  body.menuopen #header nav #menu-items {
    display: flex;
    padding: 0;
    margin: 0;
    text-align: right;
    flex-direction: column-reverse;
    li.link {
      display: block;
      float: none;
      padding: 0.5rem 0;
    }
  }
}

#header {
  background: var(--navbar-bg-gif) var(--navbar-bg-color);
  border-bottom: 4px solid var(--navbar-bar-color);
  nav {
    max-width: 1050px;
    ul {
      li {
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        list-style: none;
        display: inline;
        color: var(--main-text-color);
        line-height: 50px;
        text-shadow: 0px 1px 0px rgba(0,0,0,.2);
        font-size: 14px;


        &.link {
          float: right;
          margin-right: 0px;
          font-size: 11px;
          a {
            border: none;
            border-radius: none;
            padding: 10px 10px;
            background: #0000;
            box-shadow: none;
            font-size:  14px;
            color: var(--main-text-color);
            &:hover {
              color: var(--navbar-link-hover-color);
              /* text-decoration: underline; */
              border-bottom: 2px solid var(--navbar-link-hover-color);
            }
          }
        }
        &.link-left {
          float: left;
          margin-right: 0px;
          font-size: 20px;
          a {
            border: none;
            border-radius: none;
            padding: 5px 5px;
            background: #0000;
            box-shadow: none;
            font-size:  18px;
            color: var(--main-text-color);
            &:hover {
              color: var(--navbar-link-hover-color);
              /* text-decoration: underline; */
              border-bottom: 2px solid var(--navbar-link-hover-color);
            }
          }
        }
        &.fork {
          margin-right: 10px;
        }

        &.toggle-left {
          float: left;
          margin-right: 10px;
          font-size: 20px;
          a {
            border: none;
            border-radius: none;
            padding: 5px 5px;
            background: #0000;
            box-shadow: none;
            font-size:  18px;
            color: var(--main-text-color);
            &:hover {
              color: var(--navbar-link-hover-color);
              /* text-decoration: underline; */
              border-bottom: 2px solid var(--navbar-link-hover-color);
            }
          }
        }
      }
    }
  }
}

section {
  #title {
    .credits {
      color: var(--footer-text-color);
    }
  }
}

hr {
  background: var(--hr-bg-gif) center center repeat-x;
  /* background-color: var(--hr-bg-color); */
}

/* Based on https://stackoverflow.com/questions/19331362/using-an-image-caption-in-markdown-jekyll */
img + em {
  font-size: 13px;
  code {
    font-size: 13px;
  }
}

.codecaption {
  font-size: 13px;
  code {
    font-size: 13px;
  }
  /* align: right; */
}
